---
const image = "/images/og-daarkling-tattoo.jpg"; // Pendiente de crear la imagen 1200x630
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
import img404 from '../assets/images/404.png';
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="generator" content={Astro.generator} />
        <meta name="robots" content="index, follow" />

        <!-- Favicon -->
        <link rel="icon" href="/favicon.png" />

        <!-- Enlace Canónico (Evita contenido duplicado) -->
        <link rel="canonical" href={canonicalURL} />

        <!-- SEO Básico Localizado -->
        <title>Daarkling Tattoo</title>
        <meta name="title" content="Daarkling Tattoo - Barcelona" />
		<meta name="description" content="Tattoo Barcelona, desde tatuajes pequeños a piezas grandes. Soy Daarkling Tattoo, hago tatuajes personalizados y diseños únicos para las mentes más atrevidas. Blackwork, Fineline, Botanical, Neotribal, Tribal, Dark Ornamental">
        <meta name="keywords" content="tatuadora blackwork barcelona, tatuajes blackwork españa, daarkling tattoo, estudio tatuajes barcelona, blackwork tattoo artist" />

        <!-- Open Graph / Facebook / WhatsApp / Instagram -->
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url} />
        <meta property="og:title" content="Daarkling Tattoo - Barcelona" />
        <meta property="og:description" content="Tattoo Barcelona, desde tatuajes pequeños a piezas grandes. Soy Daarkling Tattoo, hago tatuajes personalizados y diseños únicos para las mentes más atrevidas. Blackwork, Fineline, Botanical, Neotribal, Tribal, Dark Ornamental"/>
        <meta property="og:image" content={new URL(image, Astro.url)} />
        <meta property="og:locale" content="es_ES" />
        <meta property="og:site_name" content="Daarkling Tattoo" />

        <!-- Twitter / X -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:url" content={Astro.url} />
        <meta name="twitter:title" content="Daarkling Tattoo - Barcelona" />
        <meta name="twitter:description" content="Tattoo Barcelona, desde tatuajes pequeños a piezas grandes. Soy Daarkling Tattoo, hago tatuajes personalizados y diseños únicos para las mentes más atrevidas. Blackwork, Fineline, Botanical, Neotribal, Tribal, Dark Ornamental" />
        <meta name="twitter:image" content={new URL(image, Astro.url)} />

        <style>
            @font-face {
            font-family: 'Elms Sans';
            src: url('../assets/fonts/ElmsSans-VariableFont_wght.woff2');
            }

            * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            }

            html {
            background-color: black;
            font-family: 'Elms Sans';
            color: white;
            }
            main {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                height: 100dvh;
            }
            img {
                height: 400px;
                margin: 40px auto;
            }
            h1 {
                font-size:3.5em;
                margin-bottom: 40px;
            }
            h2 {
                margin-bottom: 10px;
            }
            p {
                font-size: 1.4em;
                font-weight: 800;
            }
            button:not(.menu-toggle) {
                padding: 16px 20px;
                margin: 10px 0;
                border-radius: 20px;
                border: none;
                cursor: pointer;
                background: #E18AAA;
                box-shadow: inset -1px -2px 10px 4px #f5cedc, inset -2px -4px 15px 15px #aa476b;
                transition: all 0.2s ease-in;
                }
                button:hover:not(.menu-toggle) {
                background: #E18AAA;
                box-shadow: inset -1px -2px 10px 4px #f5cedc, inset -2px -4px 15px 10px #aa476b, 0 0 10px white;
                transform: scale(1.05);
                }

                .btn-cta {
                text-decoration: none;
                font-family: 'Elms Sans';
                font-size: 1.2em;
                font-weight: 700;
                color: white;
            }
            @media (max-width: 800px) {
                img {
                    height: 200px;
                }
                h1 {
                    font-size: 2em;
                }
            }
        </style>
    </head>
    <body>
        <main>
            <h1>No encontramos esta página</h1>
            <img src={img404.src} alt="Error 404, página no encontrada" fetchpriority="high">
            <div>
                <h2>Vuelve a la página principal</h2>
                <button><a class="btn-cta" href="/">Aquí</a></button>
            </div>
        </main>
    </body>
</html>